body {
    background: #4b4c50;
    padding: 15px;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.hd {
    border-bottom: 1px solid #777;
}
.hd-submenu {
    position: absolute;
    right: 15px;
    top: 15px;
}
.hd-submenu img {
    width: 24px;
}
.hd-img {
    width: 100px;
    float: left;
}
.hd-cont {
    margin-left: 115px;
    min-height: 115px;
}
.hd-status {
    color: #d35f5f;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}
.hd-fio {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 8px;
}
.hd-id {
    color: #87cdde;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.hd-bals {
    color: #d35f5f;
    margin-bottom: 5px;
}
.lst-menu {
    font-weight: 500;
}
.lst-menu div {
    border-bottom: 1px solid #777;
    padding: 15px 0 15px 35px;
    font-size: 18px;
}
.lst-menu .ld {
    background: url(images/user.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .hist {
    background: url(images/history.svg) no-repeat 0;
    background-size: 24px;
}