body {
    background: #4b4c50;
    padding: 15px;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #f2f2f2;
    text-decoration: none;
}
.hd {
    border-bottom: 1px solid #777;
}
.hd-submenu {
    position: absolute;
    right: 15px;
    top: 15px;
}
.hd-submenu img {
    width: 24px;
}
.hd-img img {
    width: 100px;
    float: left;
    border-radius: 50px;
}
.hd-cont {
    margin-left: 115px;
    min-height: 115px;
}
.hd-status,
.hd-adm {
    color: #d35f5f;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}
.hd-fio, 
.hd-org {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 8px;
}
.hd-id,
.hd-vd {
    color: #87cdde;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.hd-bals {
    color: #d35f5f;
    margin-bottom: 5px;
}
.lst-menu {
    font-weight: 500;
}
.lst-menu div {
    border-bottom: 1px solid #777;
    padding: 15px 0 15px 35px;
    font-size: 18px;
}
.lst-menu .ld {
    background: url(images/user.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .hb {
    background: url(images/history.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .hv {
    background: url(images/visits.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .ofu {
    background: url(images/note.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .inf {
    background: url(images/addfr.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .ino {
    background: url(images/addorg.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .gb {
    background: url(images/gift.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .pr {
    background: url(images/info.svg) no-repeat 0;
    background-size: 24px;
}


.lst-menu .ofz {
    background: url(images/shopping-cart.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .oplb {
    background: url(images/gift-card.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .oform {
    background: url(images/shield.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .podt {
    background: url(images/checked.svg) no-repeat 0;
    background-size: 24px;
}

.form input {
    border: 1px solid #777;
    padding: 10px 12px 10px 40px;
    font-size: 18px;
    width: 87%;
    margin: -1px 0px 15px -5px;
    border-radius: 3px;
    color: #f2f2f2;
}
.form input.idcl,
.form input.fname,
.form input.lname,
.form input.mname  {
    background: url(images/user.svg) no-repeat 5px;
    background-size: 24px;
}
.form input.phone {
    background: url(images/phone.svg) no-repeat 5px;
    background-size: 24px;
}
.form input.email {
    background: url(images/email.svg) no-repeat 5px;
    background-size: 24px;
}
.form input.city {
    background: url(images/map.svg) no-repeat 5px;
    background-size: 24px;
}
.form input.distr {
    background: url(images/build.svg) no-repeat 5px;
    background-size: 24px;
}
.form input.distr {
    background: url(images/calendar.svg) no-repeat 5px;
    background-size: 24px;
    color: #757575;
    font-family: inherit;
}
/*input[type="date"] {
    color: #757575;
    font-family: inherit;
}*/



.form input.summ {
    background: url(images/wallet.svg) no-repeat 5px;
    background-size: 24px;
}
.form input.oplb {
    height: 20px;
    width: 20px;
    margin: 0px 5px 19px 2px;
}
span.oplb {
    position: absolute;
    margin-left: 10px;
    margin-top: 1px;
}
span.dig {
    color: #d35f5f;
}
.form input.sms {
    background: url(images/sms-speech-bubble.svg) no-repeat 5px;
    background-size: 24px;
}
div.insms {
    margin-bottom: 30px;
}
.form .insms a{
    font-size: 14px;
    font-weight: 400;
    color: #87cdde;
    border-bottom: 1px dotted; 
}
.form div.sub {
    text-align: center;
    margin-top: 15px;
}
input.btn {
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: auto;
    margin: 0;
}
.btn-sub {
    background: #d35f5e;
    color: #f2f2f2;
}
.btn-save {
    background: #87cdde;
    color: #29aaca;
}
input.btn:hover {
    opacity: 0.9;
}
