* {
    box-sizing: border-box;
}
body {
    background: #4b4c50;
    padding: 15px;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #f2f2f2;
    text-decoration: none;
}
.hd {
    border-bottom: 1px solid #777;
}
.hd-submenu {
    position: absolute;
    right: 15px;
    top: 15px;
}
.hd-submenu img {
    width: 24px;
    z-index: 1;
}
.hd-img img {
    width: 100px;
    float: left;
    border-radius: 50px;
    padding-right: 15px;
}
.hd-cont {
    padding-bottom: 12px;
}
.hd-status,
.hd-adm {
    color: #d35f5f;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 5px;
}
.hd-fio, 
.hd-org,
.hd-title {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 8px;
}
.hd-id,
.hd-vd {
    color: #87cdde;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.hd-bals {
    color: #d35f5f;
    margin-bottom: 5px;
}
.hd-txt {
    color: #87cdde;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 700;
}
.lst-menu {
    font-weight: 500;
}
.lst-menu div {
    border-bottom: 1px solid #777;
    padding: 15px 0 15px 35px;
    font-size: 18px;
}
.lst-menu .ld {
    background: url(images/user.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .hb {
    background: url(images/history.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .hv {
    background: url(images/visits.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .ofu {
    background: url(images/note.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .inf {
    background: url(images/addfr.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .ino {
    background: url(images/addorg.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .gb {
    background: url(images/gift.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .pr {
    background: url(images/info.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .ofz {
    background: url(images/shopping-cart.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .oplb {
    background: url(images/gift-card.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .oform {
    background: url(images/shield.svg) no-repeat 0;
    background-size: 24px;
}
.lst-menu .podt {
    background: url(images/checked.svg) no-repeat 0;
    background-size: 24px;
}
.bottom-menu {
    position: absolute;
    bottom: 0px;
    display: inline-flex;
    font-size: 13px;
    margin: auto;
    width: 100%;
    left: 0;
    right: 0;
    background: #2e2f31;
}
.bottom-menu div {
    padding: 46px 5px 10px;
    width: 24%;
    text-align: center;
}
.bottom-menu a {
    padding-top: 36px;
}
/*.bottom-menu div:first-child {
    padding-left: 0;
}
.bottom-menu div:last-child {
    padding-right: 0;
}*/
.bottom-menu .home {
    background: url(images/home.svg) no-repeat center 10px;
    background-size: 28px;
}
.bottom-menu .vis {
    background: url(images/visit.svg) no-repeat center 10px;
    background-size: 28px;
}
.bottom-menu .balls {
    background: url(images/plus-one.svg) no-repeat center 10px;
    background-size: 28px;
}
.bottom-menu .fav {
    background: url(images/heart.svg) no-repeat center 10px;
    background-size: 28px;
}
.bottom-menu .lk {
    background: url(images/user.svg) no-repeat center 10px;
    background-size: 28px;
}

.qr-code,
.my-balls {
    border-radius: 3px;
    width: 296px;
    height: 296px;
    margin: 45px auto;
}
.my-balls {
    background: #f2f2f2;
    padding-top: 20px;
}
.my-balls p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.my-balls p.id {
    color: #29aaca;
}
.my-balls p.balls {
    color: #d35f5e;
}
.my-balls p.balls-txt {
    font-size: 20px;
    font-weight: 400;
    margin-top: -40px;
}

input {
    border: 1px solid #777;
    padding: 10px 12px 10px 40px;
    font-size: 18px;
    width: 100%;
    margin: -1px 0px 15px;
    border-radius: 3px;
    color: #f2f2f2;
}
input.idcl,
input.fname,
input.lname,
input.mname  {
    background: url(images/user.svg) no-repeat 5px;
    background-size: 24px;
}
input.phone {
    background: url(images/phone.svg) no-repeat 5px;
    background-size: 24px;
}
input.email {
    background: url(images/email.svg) no-repeat 5px;
    background-size: 24px;
}
input.city {
    background: url(images/map.svg) no-repeat 5px;
    background-size: 24px;
}
input.distr {
    background: url(images/build.svg) no-repeat 5px;
    background-size: 24px;
}
input.calendar {
    background: url(images/calendar.svg) no-repeat 5px;
    background-size: 24px;
    color: #757575;
    font-family: inherit;
}
input.summ {
    background: url(images/wallet.svg) no-repeat 5px;
    background-size: 24px;
}
input.oplb {
    height: 20px;
    width: 20px;
    margin: 0px 5px 19px 2px;
}
span.oplb {
    position: absolute;
    margin-left: 10px;
    margin-top: 1px;
}
span.dig {
    color: #d35f5f;
}
input.sms {
    background: url(images/sms.svg) no-repeat 5px;
    background-size: 24px;
}
div.insms {
    margin-bottom: 30px;
}
.insms a{
    font-size: 14px;
    font-weight: 400;
    color: #87cdde;
    border-bottom: 1px dotted; 
}
div.sub {
    text-align: center;
    margin-top: 15px;
}
input.btn {
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: auto;
    margin: 0;
}
.btn-balls {
    margin-top: 45px;
}
.btn-sub {
    background: #d35f5e;
    color: #f2f2f2;
}
.btn-save {
    background: #29aaca;
    color: #ffffff;
}
input.btn:hover {
    opacity: 0.9;
}

/*Слайдер*/
.slider{
    max-width: 100%;
    position: relative;
    margin: auto;
    height: auto;
    margin-bottom: 15px;
}
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: none !important;
    box-shadow: none !important;
}
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.slider-dots_item:hover {
    background-color: #868789;
}
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
